/* Steve's BS Bootstrap */

:root {
  --blue: #0d6efd;
  --green: #28a745;
  --teal: #17a2b8;
  --orange: #ffc107;
  --red: #dc3545;
  --grey: #6c757d;
  --light: #f8f9fa;
  --dark: #343a40;
  --0: 0px;
  --1: 10px;
  --2: 20px;
  --3: 30px;
}

.w-25 {
    width: 25%;
}

.w-50 {
    width: 50%;
}

.w-75 {
    width: 75%;
}

.w-100 {
    width: 100%;
}

.form-control {
    width:100%;
}

/* Buttons */

.btn {
    padding: 5px;
    margin: 2px;
    border-radius: 5px;
}

.btn:hover {
    cursor:pointer;
}

.btn-outline-danger {
    border: 1px solid var(--red);
    color: var(--red);
}

.btn-outline-danger:hover, .btn-active-danger {
    background: var(--red);
    color: var(--light);
}

.btn-outline-primary {
    border: 1px solid var(--blue);
    color: var(--blue);
}

.btn-outline-primary:hover, .btn-active-primary {
    background: var(--blue);
    color: var(--light);
}

.btn-outline-success {
    border: 1px solid var(--green);
    color: var(--green);
}

.btn-outline-success:hover, .btn-active-success {
    background: var(--green);
    color: var(--light);
}

.btn-outline-dark {
    background: white;
    border: 1px solid var(--dark);
    color: var(--dark);
}

.btn-outline-dark:hover, .btn-active-dark {
    background: var(--dark);
    color: var(--light);
}

.alert {
    border:1px;
    border-radius: 5px;
    background: pink;
    padding: 5px 15px;
}

.small {
    font-size:0.8rem;
}

/* bg-xxx */
.bg-success {
    background: var(--green);
}
.bg-danger {
    background: var(--red);
}
.bg-warning {
    background: var(--orange);
}
.bg-light {
    background: var(--light);
}
.bg-white {
    background: #fff;
}

/* Borders */
.border {
    /* border: 1px solid; */
    padding: var(--1);
}
.rounded {
    border-radius: 4px;
}
.border-dark {
    /* border-color: #aaaaaa; */
    background: #eeeeee;
}

ul.lst-none, .lst-none {
    list-style-type:none;
}

ul.lh-15 li {
    /* line-height: 1.5em; */
    margin-bottom: 5px;
}

ul.links {
    list-style-type:none;
    line-height:2em;
}

/* Grid-Template-Columns */
.cols-11 {
    grid-template-columns: 1fr 1fr;
}
.cols-14 {
    grid-template-columns: 1fr 4fr;
}
.cols-15 {
    grid-template-columns: 1fr 5fr;
}
.cols-61 {
    grid-template-columns: 6fr 1fr;
}
.cols-16 {
    grid-template-columns: 1fr 6fr;
}
.cols-17 {
    grid-template-columns: 1fr 7fr;
}
.cols-1-11 {
    grid-template-columns: 1fr 11fr;
}
.cols-21 {
    grid-template-columns: 2fr 1fr;
}
.cols-1222 {
    grid-template-columns: 1fr 3fr 3fr 3fr;
}
.cols-14444 {
    grid-template-columns: 1fr 4fr 4fr 4fr 4fr;
}

.nav-links ul li {
    display: inline;
}

.text-center {
    text-align:center;
}

.text-right {
    text-align: right;
}

.text-white {
    color: #fff;
}

.text-black {
    color: #000;
}

.text-light {
    color: var(--light);
}

.text-dark {
    color: var(--dark);
}

.text-primary {
    color: var(--blue);
}

.text-success {
    color: var(--green);
}

.text-danger {
    color: var(--red);
}

.text-warning {
    color: var(--orange);
}

.text-info {
    color: var(--teal);
}

.font-weight-bold {
    font-weight: bold;
}

.font-italic {
    font-style: italic;
}

.uli {
    text-decoration: underline;
}

.img-fluid {
    width:100%;
}

/* Positioning */
.mw-500 {
    max-width: 500px;
    margin: auto;
}
.mw-600 {
    max-width: 600px;
    margin: auto;
}

.row-col {
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    justify-items: stretch;
    align-items: stretch;
}

/* margin-0 padding-0 */
.pm-0 {
    padding:0px;
    margin:0px;
}

/* Margins */
/* margin x+y */
.m-0 {
    margin: var(--0);
}
.m-1 {
    margin: var(--1);
}
.m-2 {
    margin: var(--2);
}
.m-3 {
    margin: var(--3);
}

/* margin-x */
.mx-auto {
    display: block;
    margin:auto;
}
.mx-0 {
    margin-left: var(--0);
    margin-right: var(--0);
}
.mx-1 {
    margin-left: var(--1);
    margin-right: var(--1);
}
.mx-2 {
    margin-left: var(--2);
    margin-right: var(--2);
}
.mx-3 {
    margin-left: var(--3);
    margin-right: var(--3);
}

/* margin-y */
.my-0 {
    margin-top: var(--0);
    margin-bottom: var(--0);
}
.my-1 {
    margin-top: var(--1);
    margin-bottom: var(--1);
}
.my-2 {
    margin-top: var(--2);
    margin-bottom: var(--2);
}
.my-3 {
    margin-top: var(--3);
    margin-bottom: var(--3);
}

/* margin-top */
.mt-0 {
    margin-top: var(--0);
}
.mt-1 {
    margin-top: var(--1);
}
.mt-2 {
    margin-top: var(--2);
}
.mt-3 {
    margin-top: var(--3);
}

/* margin-right */
.mt-0 {
    margin-right: var(--0);
}
.mt-1 {
    margin-right: var(--1);
}
.mt-2 {
    margin-right: var(--2);
}
.mt-3 {
    margin-right: var(--3);
}

/* margin-bottom */
.mb-0 {
    margin-bottom: var(--0);
}
.mb-1 {
    margin-bottom: var(--1);
}
.mb-2 {
    margin-bottom: var(--2);
}
.mb-3 {
    margin-bottom: var(--3);
}

/* margin-left */
.ml-0 {
    margin-left: var(--0);
}
.ml-1 {
    margin-left: var(--1);
}
.ml-2 {
    margin-left: var(--2);
}
.ml-3 {
    margin-left: var(--3);
}

/* Padding */
/* padding-x+y */
.p-0 {
    padding: var(--0);
}
.p-1 {
    padding: var(--1);
}
.p-2 {
    padding: var(--2);
}
.p-3 {
    padding: var(--3);
}

/* padding-x */
.px-0 {
    padding-left: var(--0);
    padding-right: var(--0);
}
.px-1 {
    padding-left: var(--1);
    padding-right: var(--1);
}
.px-2 {
    padding-left: var(--2);
    padding-right: var(--2);
}
.px-3 {
    padding-left: var(--3);
    padding-right: var(--3);
}

/* padding-y */
.py-0 {
    padding-top: var(--0);
    padding-bottom: var(--0);
}
.py-1 {
    padding-top: var(--1);
    padding-bottom: var(--1);
}
.py-2 {
    padding-top: var(--2);
    padding-bottom: var(--2);
}
.py-3 {
    padding-top: var(--3);
    padding-bottom: var(--3);
}

/* padding-top */
.pt-0 {
    padding-top: var(--0);
}
.pt-1 {
    padding-top: var(--1);
}
.pt-2 {
    padding-top: var(--2);
}
.pt-3 {
    padding-top: var(--3);
}

/* padding-right */
.pl-0 {
    padding-right: var(--0);
}
.pl-1 {
    padding-right: var(--1);
}
.pl-2 {
    padding-right: var(--2);
}
.pl-3 {
    padding-right: var(--3);
}

/* padding-bottom */
.pb-0 {
    padding-bottom: var(--0);
}
.pb-1 {
    padding-bottom: var(--1);
}
.pb-2 {
    padding-bottom: var(--2);
}
.pb-3 {
    padding-bottom: var(--3);
}

/* padding-left */
.pl-0 {
    padding-left: var(--0);
}
.pl-1 {
    padding-left: var(--1);
}
.pl-2 {
    padding-left: var(--2);
}
.pl-3 {
    padding-left: var(--3);
}

/* Links */
a {
    color: var(--blue);
    text-decoration:none;
}
a:visited {
    color: var(--teal);
    /* color: #6f42c1; */
}
a:hover {
    text-decoration:underline;
}
a:active {
    color: var(--red);
}

/* Typography */
textarea {
    font-size:1rem;
}

body, textarea {
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    /* font-family:Gill Sans; */
    /* font-family:Trebuchet MS; */
    color: #313131;
    background: #F7F7F7;
    margin:0px;
}

h2 {
    margin-bottom: var(--1);
}

h1,h2,h3,h4,h5,h6 {
    font-family:arial;
    color: #292b2c;
    /* color: #616161; */
}

.logo {
    font-size:1.7rem;
    font-weight:bold;
}

.menu {
    font-size:1.1rem;
}
.link-menu {
    font-size:1.2rem;
}

.song-title {
    font-size:1.3rem;
}

nav {
    display:flex;
    justify-content:space-between;
    height: 50px;
    align-items:center;
    padding-left:20px;
    padding-right:20px;

    position: sticky;
    top:0;
    background: #F7F7F7;
}

#wrapper {
    max-width:500px;
    margin: auto;
    padding: 0px 10px 0px 10px;
}

input {
    border-radius: 0px;
    border: 1px solid var(--dark);
    padding: 5px 9px 5px 9px;
    font-size:1.1rem;
}

input:focus, textarea:focus, select:focus{
    outline: none;
}

